<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="aimsweb" version="2.4">
	<display-name>SVN-STAT</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
				classpath:/applicationContext.xml
		</param-value>
	</context-param>
	
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>DispatcherServlet</servlet-name> -->
<!-- 		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>contextConfigLocation</param-name> -->
<!-- 			<param-value> -->
<!-- 				/WEB-INF/mvc-servlet-context.xml -->
<!-- 			</param-value> -->
<!-- 		</init-param> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->
	
<!-- 	<servlet-mapping> -->
<!-- 	  <servlet-name>DispatcherServlet</servlet-name> -->
<!-- 	  <url-pattern>/web/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<!-- <servlet>
		<servlet-name>spring-webmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/mvc-servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-webmvc</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>-->

	

</web-app>